@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6f1;
  font-family: Arial, sans-serif;
}

.bungee-font {
  font-family: "Bungee", cursive; /* Bungee font for specific div */
}
